engine/rules.json
engine/other_rules.json
engine/report.json
engine/rules_extra.json
engine/spec_fixed.json
engine/uploads/2.0.0-rc3_fees_modificado.json
engine/outputs
RegrasSpectralAPI.pdf
Tests/2.0.0-rc3_fees_modificado.json
